<% provide(:title, "Announcements") %>

<h1>UNT NLP Lab {Announcements}</h1>
<p>
        This is the page that prints all the announcements and blogs 
        Hi my name is clement Cole and you can find me on 
        <a href="https://github.com/clementcole"> Github</a>
        Adios!! Buy a beer!!
</p>
 