<footer class="footer">
  <small>
    <a href="http://www.unt.edu">UNT</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Members", '#' %></li>
      <li><%= link_to "NEWS", '#'  %></li>
    </ul>
  </nav>
</footer>